h1{
    color:red;
    margin-left:685px;
   /* font-variant: small-caps;
    font-weight: 900;
    font-size: 30px;*/
}

.header *{
    border:solid;
}

table{
    table-layout: fixed;
}

p{
    direction: rtl;
}

.header{
    background-color:transparent;
    display:flex;
    justify-content:space-between;
    /*direction: ltr;*/
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.footer{
    background-color: #129131;
    display:flex;
    justify-content: center;
}





body{
    background-color: #FEDCBA;
    background-image: url("fsh.png");
    background-size: 100% 100%
}

a:link{
    color:#e7b923;
}
a:visited{
    color:#ffffff;
}

.menu{
    display:flex;
  margin-left:700px;
  margin-right:700px;
  justify-content: space-evenly;
}

.item{
  /*  background-color: orange;*/
    position: relative;
    opacity:1;
}
.item:hover img{
    opacity:0.1;
}
.item p{
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-100%);
opacity: 0;
}
.item:hover p{
    opacity:1;
}